h1 {
    font-size: 50px;
    color: azure;
    background-color: blue;
    font-family: sans-serif;
}
h3{
    font-size: 25px;
    color: black;
    background-color: aqua;
    font-family: sans-serif; 
}
div{
    height: 250px;
    width: 200px;
    background-color: blue;
    margin-top: 100px;
    margin-left: 535px;
    padding-right:;
}
H2{
    color: aliceblue;
    background-color: blueviolet;
    margin-left: 20px;
}